{% extends 'app/dummy.html' %}

{% block title %}
<title>Detail page</title>
{% endblock %}
{% block Dummy %}
<center>
    <h1>Are u sure to delete {{SchoolObject.scname}} ?</h1>
    <form method="POST">
        {% csrf_token %}




        <input type="submit" value="Yes Im sure" class="btn btn-danger">
    </form>
    <a href="{% url 'SchoolList' %}" class="btn btn-secondary">No Take me to list</a>
    <a href="{% url 'SchoolDetail' pk=SchoolObject.pk %}" class="btn btn-secondary">No Take Me To Detail</a>
</center>
{% endblock %}
